*{
  margin: 0;
  padding: 0;
}
.navContainer{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 8px;
}
.logo{
  height: 40px;
}
.toggle{
  border: transparent;
  background: transparent;
  font-size: 1.5rem;
  color: rgba(19, 19, 19, 0.907);
}
.toggle:hover{
  transform: rotate(90deg);
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}
.linksContainer{
  height: 0;
  overflow: hidden;
  transition: all ease-in-out 0.4s;
} 
.showLinks{
  height: 170px;
}


li{
  list-style: none;
}
li a{
  text-decoration: none;
  color: black;
  display: block;
  text-transform: capitalize;
  padding: 8px 16px;
  background-color: rgb(197, 226, 251);
  transition: all ease-in-out 0.3s;
}
li a:hover{
  background-color: rgba(75, 224, 244, 0.894);
  padding: 8px;
}
.socialLinks{
  display: none;
}